triffnix.com, www.triffnix.com {
	# If Cloudflare proxy is ON (orange cloud), using Caddy's internal cert avoids ACME behind CF
	tls internal

	encode zstd gzip
	reverse_proxy nginx:80 {
		header_up Host {host}
		header_up X-Forwarded-Proto {scheme}
	}
}